body {
    background-repeat: no-repeat;
    background-size: fill;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg");
}

.emailContainer {
    width: 500px;
}

.email {
    width: 500px;
}